[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = CertifiedWebMaster
	email = samlorenz5103@yahoo.com
[gui]
	recentrepo = C:/Users/user/OneDrive/Desktop/Development/Homeland Invasion - GitHub Full Download
